{:paths ["src"]
 :deps
 {metosin/malli {:mvn/version "0.2.1"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha      {:mvn/version "0.0-554"}
    lambdaisland/kaocha-cljs {:mvn/version "0.0-59"}}}}}
